name: 'Lint Helm'

on:
  # push:
  # pull_request:

jobs:
  lint:
    runs-on: 'ubuntu-latest'
    steps:
      - uses: 'actions/checkout@v4'

      - name: 'Set up Helm'
        run: |
          curl https://baltocdn.com/helm/signing.asc | gpg --dearmor | sudo tee /usr/share/keyrings/helm.gpg > /dev/null
          sudo apt-get install apt-transport-https --yes
          echo "deb [arch=$(dpkg --print-architecture) signed-by=/usr/share/keyrings/helm.gpg] https://baltocdn.com/helm/stable/debian/ all main" | sudo tee /etc/apt/sources.list.d/helm-stable-debian.list
          sudo apt-get update
          sudo apt-get install helm

      - name: 'Update dependencies'
        run: |
          #!/bin/bash

          for chart in ./charts/*; do
            cd $chart
            helm dependency update
            cd -
          done;

      # Lint Helm charts
      - name: 'Lint Helm charts'
        run: 'make lint'
